<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cont">
      <div class="col col-cont d-flex align-items-center flex-column justify-content-between">
        <h1>Historia Clínica</h1>
        <form [formGroup]="form" id="historia-clinica-form" (ngSubmit)="EnviarForm()" class="d-flex flex-column justify-content-around">
          <!-- Altura -->
          <div class="row d-flex justify-content-center pt-3 contenedores-inputs flex-column">
            <mat-form-field appearance="outline" id="control-altura">
                <mat-label>Altura (cm)</mat-label>
                <input matInput
                placeholder="Ingresar"
                formControlName="altura"
                maxlength="3"
                type="number"
                min="0"
                max="300"
                style="width: 100%;">
                <mat-error *ngIf="altura?.hasError('min')">Debe ser mayor o igual a 0.</mat-error>
                <mat-error *ngIf="altura?.hasError('max')">Debe ser menor o igual a 300.</mat-error>
            </mat-form-field>
          </div>
  
          <!-- Peso -->
          <div class="row d-flex justify-content-center pt-3 contenedores-inputs flex-column">
            <mat-form-field appearance="outline" id="control-altura">
                <mat-label>Peso (kg)</mat-label>
                <input matInput
                placeholder="Ingresar"
                formControlName="peso"
                maxlength="3"
              type="number"
              min="0"
              max="400"
              style="width: 100%;">
              <mat-error *ngIf="peso?.hasError('min')">Debe ser mayor o igual a 0.</mat-error>
              <mat-error *ngIf="peso?.hasError('max')">Debe ser menor o igual a 400.</mat-error>
            </mat-form-field>
          </div>
  
          <!-- Temperatura -->
          <div class="row d-flex justify-content-center pt-3 contenedores-inputs flex-column">
            <mat-form-field appearance="outline" id="control-altura">
                <mat-label>Temperatura (°C)</mat-label>
                <input matInput
                placeholder="Ingresar"
                formControlName="temperatura"
                maxlength="2"
                type="number"
                min="35"
                max="42"
                style="width: 100%;">
                <mat-error *ngIf="temperatura?.hasError('min')">Debe ser mayor o igual a 35.</mat-error>
                <mat-error *ngIf="temperatura?.hasError('max')">Debe ser menor o igual a 42.</mat-error>
            </mat-form-field>
            </div>
  
            <!-- Presión Arterial -->
          <div class="row d-flex justify-content-center pt-3 contenedores-inputs flex-column">
            <mat-form-field appearance="outline" id="control-altura">
                <mat-label>Presión Arterial</mat-label>
                <input matInput
                placeholder="Ejemplo: 120/80"
              formControlName="presion"
              type="text"
              maxlength="7"
              style="width: 100%;">
              <mat-error *ngIf="presion?.hasError('pattern')">Formato inválido. Ejemplo: 120/80.</mat-error>
            </mat-form-field>
            </div>
  
          <!-- Campo Dinámico 1 -->
        <div class="row d-flex justify-content-center row-input-form">
            <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Clave</mat-label>  <!--      -----------------EDAD---------------------    -->
                <input matInput placeholder="Ingresar" formControlName="campoDinamicoUno" type="text" [(ngModel)]="keyDinamico1">
                </mat-form-field>
        
            <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Valor</mat-label><!--      -----------------------DNI---------------------    -->
                <input matInput placeholder="Ingresar" formControlName="campoDinamicoUno" type="text" [(ngModel)]="valueDinamico1">
            </mat-form-field>
        </div>
  
        <div class="row d-flex justify-content-center row-input-form">
            <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Clave</mat-label>  <!--      -----------------EDAD---------------------    -->
                <input matInput placeholder="Ingresar" formControlName="campoDinamicoDos" type="text" [(ngModel)]="keyDinamico2">
                </mat-form-field>
        
            <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Valor</mat-label><!--      -----------------------DNI---------------------    -->
                <input matInput placeholder="Ingresar" formControlName="campoDinamicoDos" type="text" [(ngModel)]="valueDinamico2">
            </mat-form-field>
        </div>
  
          <!-- Campo Dinámico 3 -->
          <div class="row d-flex justify-content-center row-input-form">
            <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Clave</mat-label>  <!--      -----------------EDAD---------------------    -->
                <input matInput placeholder="Ingresar" formControlName="campoDinamicoTres" type="text" [(ngModel)]="keyDinamico3">
                </mat-form-field>
        
            <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Valor</mat-label><!--      -----------------------DNI---------------------    -->
                <input matInput placeholder="Ingresar" formControlName="campoDinamicoTres" type="text" [(ngModel)]="valueDinamico3">
            </mat-form-field>
        </div>
  
        </form>
  
        <!-- Botones -->
        <div class="d-flex justify-content-between">
          <button
          type="submit"
          form="historia-clinica-form"
          class="d-flex justify-content-center align-items-center mb-3 mt-3"
          StyleButtonCommon
            style="font-size: 1.5rem;">Enviar Formulario</button>
          <button
          type="button"
          class="d-flex justify-content-center align-items-center mb-3 mt-3"
          style="font-size: 1.5rem;"
          StyleButtonCommon
            (click)="Cancelar()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  