<div class="container-fluid cont-primary">
    <h2 class="d-flex justify-content-center align-items-center h2-solicitar-turno">Solicitar turno</h2>
    <div class="row row-cont d-flex justify-content-center cont-primary ">
        @if(esAdmin| async ){
            @if(!this.pacienteSeleccionado){

                <div class="col-6 flex-column  justify-content-start align-items-center d-flex" id="col-elegir-paciente" *ngIf="this.rol == 'Administrador'">
                    <h2 class="mb-2 h2-pacientes-elegir">Pacientes para elegir</h2>
                    <!-- <input type="text" placeholder=" Buscar paciente" [(ngModel)]="BuscarPaciente" id="input-buscar-esp" class="mb-2" > -->
                    <div id="div-tabla-container">
                        <table class="mb-3 tabla-buscar-paciente">
                        <tbody>
                            <tr (click)="ElegirPaciente(paciente)" *ngFor="let paciente of pacientes | buscarPaciente: BuscarPaciente" class="especialidades-creadas" >
                                <td>{{ paciente.usuario.nombre | titlecase }} {{ paciente.usuario.apellido | titlecase }}</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            }
            @if(!this.especialidadSeleccionada && this.pacienteSeleccionado)
            {
                <div class="col-8 d-flex justify-content-center align-items-center" id="col-elegir-especialidad">
                    <div class="d-flex justify-content-center align-items-center" id="div-especialidades">
                        <div *ngFor="let especialidad of especialidades;" class="div-una-especialidad" (click)="ElegirEspecialidad(especialidad.Especialidad)">
                            <button class="btn-especialidades">
                                <img *ngIf="especialidadIncluida(especialidad.Especialidad)"    
                                     [src]="'../../../assets/especialidades/'+ especialidad.Especialidad.toLowerCase() + '.png'">
                                <img *ngIf="!especialidadIncluida(especialidad.Especialidad)" 
                                     src="../../../assets/especialidades/indefinido.png">
                            </button>
                        </div>                 
                    </div>
                </div>
            }
        }@else {
            @if(!this.especialidadSeleccionada)
            {
                <div class="col-8 d-flex justify-content-center align-items-center" id="col-elegir-especialidad">
                    <div class="d-flex justify-content-center align-items-center" id="div-especialidades">
                        <div *ngFor="let especialidad of especialidades;" class="div-una-especialidad" (click)="ElegirEspecialidad(especialidad.Especialidad)">
                            <button class="btn-especialidades">
                                <img *ngIf="especialidadIncluida(especialidad.Especialidad)"    
                                     [src]="'../../../assets/especialidades/'+ especialidad.Especialidad.toLowerCase() + '.png'">
                                <img *ngIf="!especialidadIncluida(especialidad.Especialidad)" 
                                     src="../../../assets/especialidades/indefinido.png">
                            </button>
                        </div>                 
                    </div>
                </div>
            }
        }
        
        @if(especialidadSeleccionada && !especialistaSeleccionado)
        {
            <div class="col-10 d-flex justify-content-center align-items-center flex-column"id="col-elegir-especialista">
                <div class="mb-2"><button (click)="Reiniciar()" StyleButtonCommon style="font-size: 1.5rem;">Volver</button></div>
                <div class="d-flex justify-content-center align-items-center" id="div-especialistas">
                @if(HayAlgunEspecialistaConEspecialidadSeleccionada()){
                    @for (especialista of especialistas; track $index) {
                        @if(EsEspecialistaConEspecialidad(especialista)){
                            <div   class="div-un-especialista d-flex flex-column" (click)="ElegirEspecialista(especialista)">
                                <p>{{ especialista.usuario.nombre }} {{ especialista.usuario.apellido }}</p>
                                <img [src]="especialista.usuario.imagen" alt="">
                            </div>   
                            
                        }
                    }
                }@else {
                    <div><h3>No hay ningun especialista con esa especialidad. Lo siento.</h3></div>
                }
                </div>
            </div>
        }
        @if(especialidadSeleccionada && especialistaSeleccionado){
        <div class="row d-flex flex-column align-items-center justify-content-center cont-primary">
            <div id="cont-turnos">

                <h2 class="d-flex justify-content-center" style="font-weight: lighter;">Seleccione Turno</h2>
                <div>
                    <button (click)="Reiniciar()" class="x-button">Volver</button>
                </div>
                <div class="d-flex justify-content-end">
                    <button (click)="cambiarSemana()" style="width: 200px;" *ngIf="semanaUno" class="btn-semanas">Siguiente semana</button>
                    <button (click)="cambiarSemana()" style="width: 200px;" *ngIf="!semanaUno" class="btn-semanas">Anterior semana</button>
                </div>
                <!-- </ng-container> -->

                <div *ngIf="semanaUno">
                    <div *ngIf="especialidadSeleccionada && especialistaSeleccionado" class="d-flex">
                        <div *ngFor="let turnosDia of turnosSemanaActual; let i = index" class="col d-flex flex-column align-items-center">
                            <!-- <h3 class="d-flex justify-content-center">{{ diasDeLasSemanas[i] | date: 'dd/MM/yyyy' }}</h3> -->
                            @if(turnosDia.length > 0)
                            {
                                <button *ngFor="let turno of turnosDia;"
                                        class="btn-sacar-turno"
                                        (click)="SacarTurno(turno, diasDeLasSemanas[i])"
                                        [disabled]="TurnoOcupado(turno, diasDeLasSemanas[i])">
                                        {{ diasDeLasSemanas[i] | date: 'dd/MM' }} {{ turno }}
                                </button>
                            }@else{
                                <p>No hay turnos habilitados</p>
                            }
                        </div>
                    </div>
                </div>
                
                <div *ngIf="!semanaUno">
                    <div *ngIf="especialidadSeleccionada && especialistaSeleccionado" class="d-flex">
                        <div *ngFor="let turnosDia of turnosSemanaSiguiente; let i = index" class="col d-flex flex-column align-items-center">
                            <!-- <h3 class="d-flex justify-content-center">{{ diasDeLasSemanas[i + 6] | date: 'dd/MM/yyyy' }}</h3> -->
                            @if(turnosDia.length > 0)
                            {
                                <button *ngFor="let turno of turnosDia;"
                                class="btn-sacar-turno"
                                (click)="SacarTurno(turno, diasDeLasSemanas[i + 6])"
                                [disabled]="TurnoOcupado(turno, diasDeLasSemanas[i + 6])">
                                {{ diasDeLasSemanas[i + 6] | date: 'dd/MM' }} {{ turno }}
                            </button>
                            }@else {
                                <p>No hay turnos habilitados</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>