#div-tabla-container{
    max-height: 250px;
    overflow-y: auto;
}

.container-fluid{
    height: 93vh;
    min-height: fit-content;
}

#col-elegir-especialidad,#col-elegir-especialista{
    background-color: var(--color-crema-oscuro);
    border: solid 2px var(--color-dorado);
    td{
        text-align: center;
    }
    input{
        text-align: center;
        background-color: none;
        border: solid 1px var(--color-dorado);
        background: none;
    }
    table{
        td,th{
            padding: 0px 10px;
            cursor: pointer;
        }
    }
}

.btn-sacar-turno{
    border: none;
    border-radius: 8px;
    background-color: var(--color-rojo-medio);
    color: var(--color-dorado);
    margin: 5px 5px;
    width: 80%;
    display: flex;
    justify-content: center;

}

.btn-sacar-turno:disabled{
    background-color: gray;
}

#cont-turnos{
    margin: 20px 10px;
    border-radius: 8px;
    background-color: var(--color-crema-oscuro);
    width: 95%;
    height: 50vh;
    min-height: fit-content;
}

.btn-semanas{
    border-radius: 4px;
    border: 1px solid black;
    background-color: var(--color-rojo-medio);
    color: white;
}