.container-fluid{
    height: 93vh;
    min-height: fit-content;
}

.row-table{
    height: 90%;
}
.row-input{
    height: 10%;
    input{
        border: 1px solid grey;
        background-color: bisque;
        font-size: 1.5rem;
    }
}
.table-mis-horarios{
    width: 80%;
    background-color: var(--color-crema-oscuro);
    border-collapse: collapse;
    td,th{
        text-align: center;
        border: 1px solid black;
        font-size: x-large;
    }
}