<div class="container-fluid cont-primary">
    <div class="row d-flex justify-content-evenly pt-3">
        <!-- <div class="col-4 flex-column align-items-center justify-content-center col-btns" id="col-btn-agregar"> -->
            <button class="btn-agregar-user" (click)="AbrirFormEspecialista()">
                Agregar Especialista
            </button>
            <button class="btn-agregar-user" (click)="AbrirFormPaciente()">
                Agregar Paciente
            </button>
            <button class="btn-agregar-user" (click)="AbrirFormAdministrador()">
                Agregar Administrador
            </button>   
        <!-- </div> -->
    </div>
    <div class="row d-flex justify-content-evenly pt-5">
        <button (click)="DescargarUsuariosExcel('especialistas')" style="width: fit-content;" StyleButtonCommon>
            Descargar Especialistas
        </button>
        <button (click)="DescargarUsuariosExcel('pacientes')" style="width: fit-content;" StyleButtonCommon>
            Descargar Pacientes
        </button>
        <button (click)="DescargarUsuariosExcel('administradores')" style="width: fit-content;" StyleButtonCommon>
            Descargar Administradores
        </button>
        <button (click)="DescargarUsuariosExcel()" style="width: fit-content;" StyleButtonCommon>
            Descargar Usuarios Completos
        </button>
    </div>
    <div class="row">
            <h2>Especialistas</h2>
            @for (especialista of especialistas; track $index) {
                <article>
                    <div class="card" style="width: 18rem; ">
                        <img class="card-img-top" [src]="especialista.usuario.imagen" alt="Card image cap">
                        <div class="card-body d-flex flex-column justify-content-evenly">
                          <h5 class="card-title ">{{ especialista.usuario.nombre }} {{ especialista.usuario.apellido }}</h5>    
                          <p class="card-text ">Edad: {{ especialista.usuario.edad}}</p>
                          <p class="card-text ">Correo: <br>{{ especialista.usuario.correo}}</p>
                          <label for="cuenta-activada-{{ $index }}" class="checkbox-label" [estaAprobado]="especialista.usuario.aprobada">
                            <input type="checkbox" id="cuenta-activada-{{ $index }}" 
                            (change)="ToggleActivado(especialista)"
                            [(ngModel)]="especialista.usuario.aprobada"
                            >{{ especialista.usuario.aprobada | aprobado }} 
                        </label>
                        </div>
                      </div>
                </article>
            }
    </div>
    <div class="row">
            <h2>Pacientes</h2>
            @for (paciente of pacientes; track $index) {
                <article >
                    <div class="card" style="width: 18rem; height: fit-content;">
                        <img class="card-img-top" [src]="paciente.usuario.imagenUno" alt="Card image cap"> 
                        <div class="card-body d-flex flex-column justify-content-evenly">
                          <h5 class="card-title">{{ paciente.usuario.nombre }} {{ paciente.usuario.apellido }}</h5>    
                          <p class="card-text">Edad: {{ paciente.usuario.edad}}</p>
                          <p class="card-text">Correo: <br>{{ paciente.usuario.correo}}</p>
                          <!-- <p (click)="VerHistoriaClinica(paciente)" StyleButtonCommon *ngIf="paciente.usuario.historialClinico">Ver Historia Clinica</p> -->
                          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" >
                            <button mat-menu-item style="display: flex; justify-content: center;" *ngIf="paciente.usuario.historialClinico">
                              <!-- <mat-icon>dialpad</mat-icon> -->
                              <span (click)="VerHistoriaClinica(paciente)" StyleButtonCommon style="height: 95%; width: 90%; padding: 5px " >Ver Historia Clinica </span>
                            </button>
                            <button mat-menu-item style="display: flex; justify-content: center; align-items: center;">
                              <span (click)="DescargarHistorialTurnos(paciente)" StyleButtonCommon style="height: 95%; width: 90%;  padding: 5px" >Descargar Historial de Turnos</span>
                            </button>
                            <button mat-menu-item style="display: flex; justify-content: center;" *ngIf="paciente.usuario.historialClinico">
                              <!-- <mat-icon>notifications_off</mat-icon> -->
                              <span style="height: 95%; width: 90%; "> <app-pdf-historia-clinica [paciente]="paciente"></app-pdf-historia-clinica></span>
                            </button>
                          </mat-menu>
                        </div>
                      </div>
                </article>
            }
    </div>
    <div class="row">
        <h2>Administradores</h2>
        @for (administrador of administradores; track $index) {
            <article>
                <div class="card" style="width: 18rem; height: fit-content;">
                    <img class="card-img-top" [src]="administrador.usuario.imagen" alt="Card image cap"> 
                    <div class="card-body d-flex flex-column justify-content-evenly">
                      <h5 class="card-title">{{ administrador.usuario.nombre }} {{ administrador.usuario.apellido }}</h5>    
                      <p class="card-text">Edad: {{ administrador.usuario.edad}}</p>
                      <p class="card-text">Correo: <br>{{ administrador.usuario.correo}}</p>
                    </div>
                  </div>
            </article>
        }
</div>
</div>