<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cont">
        <div class="col col-cont d-flex align-items-center flex-column justify-content-center">
            <h1>Bienvenido Administrador</h1>
        <form [formGroup]="form" (ngSubmit)="EnviarForm()" id="reg-form-esp">
            <div class="row d-flex justify-content-center row-input-form">
                <mat-form-field appearance="outline" id="control-nombre">
                    <mat-label>Nombre</mat-label>  <!--      -----------------NOMBRE---------------------    -->
                    <input matInput placeholder="Ingresar" formControlName="nombre">
                    @if(nombre?.hasError("pattern")) {
                        <mat-error>Solo debe contener letras</mat-error>
                    }
                    @if(nombre?.hasError("required")){
                        <mat-error>Campo requerido</mat-error>
                    }
                    @if(nombre?.hasError("maxlength")){ 
                        <mat-error>Largo maximo de 50 caracteres</mat-error>    
                    }    
                </mat-form-field>
            </div>
            
            <div class="row d-flex justify-content-center row-input-form">
                <mat-form-field appearance="outline" id="control-apellido">
                    <mat-label>Apellido</mat-label><!--      -----------------------APELLIDO---------------------    -->
                    <input matInput placeholder="Ingresar" formControlName="apellido">
                    @if(apellido?.hasError("pattern")) {
                        <mat-error>Solo debe contener letras</mat-error>
                    }
                    @if(apellido?.hasError("required")){
                        <mat-error>Campo requerido</mat-error>
                    }
                    @if(apellido?.hasError("maxlength")){ 
                        <mat-error>Largo maximo de 50 caracteres</mat-error>
                    }    
                </mat-form-field>
            </div>

            <div class="row d-flex justify-content-center row-input-form">
                <mat-form-field appearance="outline" style="width: 50%;">
                    <mat-label>Edad</mat-label>  <!--      -----------------EDAD---------------------    -->
                    <input matInput placeholder="Ingresar" formControlName="edad" type="number">
                    @if(edad?.hasError("min") || (edad?.hasError("max"))){
                        <mat-error>Edad permitida entre 21 y 80 años </mat-error>
                    }
                    @if(edad?.hasError("required")) {
                        <mat-error>Campo requerido</mat-error>
                    }    
                </mat-form-field>
            
                <mat-form-field appearance="outline" style="width: 50%;">
                    <mat-label>DNI</mat-label><!--      -----------------------DNI---------------------    -->
                    <input matInput placeholder="Ingresar" formControlName="dni" type="number">
                    @if(dni?.hasError("required")) {
                        <mat-error>Campo requerido</mat-error>
                    }
                    @if(dni?.hasError("min") || dni?.hasError("max")){
                        <mat-error>Debe contener entre 6 y 8 digitos</mat-error>
                    }
                </mat-form-field>
            </div>

            
            <div class="row d-flex justify-content-center row-input-form">
                <mat-form-field appearance="outline" >
                    <mat-label>Correo electrónico</mat-label><!--      -----------------------EMAIL---------------------    -->
                    <input matInput placeholder="Ingresar" formControlName="correo">
                    @if(correo?.hasError('required')){
                        <mat-error>Campo requerido</mat-error>
                    }
                    @if(correo?.hasError('email')){
                        <mat-error>Tipo de correo invalido</mat-error>
                    }
                    @if(correo?.hasError('maxlength')){
                        <mat-error>Máximo 50 caracteres</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="row d-flex justify-content-center row-input-form">
                <mat-form-field appearance="outline">
                    <mat-label>Clave</mat-label><!--      -----------------PASSWORD---------------------    -->
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ingresar" formControlName="clave"> 
                    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        

            <div class="row d-flex justify-content-center mt-4 flex-column">
                <!-- <mat-label>Imagen 1</mat-label>       -----------------FILE1---------------------    -->
                <div class="col d-flex flex-column">
                    <input class="mb-2 mt-2"  
                    placeholder="Ingresar" 
                    formControlName="file1" 
                    type="file" 
                    (change)="uploadFile1($event)" 
                    id="file1">
                    @if(file1?.value){
                        <label for="file1" class="subir-archivo d-flex justify-content-center align-items-center">Cambiar Archivo 1</label>
                    }@else {
                        <label for="file1" class="subir-archivo d-flex justify-content-center align-items-center">Subir Archivo 1</label>
                    }
                    @if(file1?.hasError('required')){
                        <mat-error>Imagen requerida</mat-error>
                    } 
                </div>
            </div>

        </form>
        <button type="submit" form="reg-form-esp" id="btn-register" class="d-flex justify-content-center align-items-center mt-2 mb-3">Registrarme</button>
        </div>
    </div>
</div>