<div class="container-fluid cont-primary">
    <div class="row d-flex justify-content-center align-items-center">
        <table class="table-mis-horarios">
            <thead>
                <th>Especialista</th>
                <th>Dia</th>
                <th>Especialidad</th>
                <th>Horario </th>
                <th>Estado</th>
                <th>Accion</th>
            </thead>
            <tbody>
                @for (turno of turnos; track $index) {
                    <tr>
                        <!-- <td>{{ turno.dia * 1000 | date :'dd/MM/yyyy' }}</td> -->
                        <td>{{ turno.especialista.nombre }} {{ turno.especialista.apellido }}</td>
                        <td>{{formatDate(turno.dia) }}</td>
                        <td>{{ turno.especialidad | titlecase}}</td>
                        <td>{{ turno.horario }}  </td>
                        <td [EstadoTurnoColor]="turno.estado">{{ turno.estado | titlecase }}</td>
                        <td>
                            <button *ngIf="turno.estado == 'pendiente' || turno.estado == 'aceptado'" (click)="CancelarTurno(turno)" StyleButtonCommon>Cancelar Turno</button>
                            <button *ngIf="turno.estado == 'finalizado' && turno.diagnostico" (click)="VerResenia(turno)" StyleButtonCommon>Ver Diagnostico</button>
                            <button *ngIf="turno.estado == 'finalizado'" (click)="VerResenia(turno)" StyleButtonCommon>Realizar Encuesta</button>
                            <button *ngIf="turno.estado == 'finalizado' && !turno['calificacion-atencion']" (click)="CalificarAtencion(turno)" StyleButtonCommon>Calificar Atencion</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>