<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center ">
        <button StyleButtonCommon (click)="downloadPDF()">Descar Historia Clinica</button>
    </div>
    <!-- @if(false){
        <div id="htmlData">
            <div class="div-img-logo">
                <img src="../../../assets/imperiologdor.png" alt="">
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <h2>Historia Clinica</h2>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p style="width: fit-content;">{{ paciente.usuario.nombre }} {{ paciente.usuario.apellido }}</p>
                <p style="width: fit-content;">{{ paciente.usuario.historialClinico.fecha }}</p>
            </div>
            <div *ngIf="paciente.usuario.rol == 'Paciente'" class="div-historia-clinica">
                <h2>Historia Clinica</h2>
                <table>
                    <thead>
                        <th>
                            Altura (cm)
                        </th>
                        <th>
                            Peso (kg)
                        </th>
                        <th>
                            Presion
                        </th>
                        <th>
                            Temperatura
                        </th>
                        <th>
                            Dato Extra
                        </th>
                        <th>
                            Dato Extra
                        </th>
                        <th>
                            Dato Extra
                        </th>
                    </thead>
                    <tbody>
                        @for (historial of paciente.usuario.historialClinico; track $index) {
                            <tr>
                                <td>
                                    {{ historial.altura }}
                                </td>
                                <td>
                                    {{ historial.peso }}
                                </td>
                                <td>
                                    {{ historial.presion }}
                                </td>
                                <td>
                                    {{ historial.temperatura }}
                                </td>
                                <td>
                                    {{ historial.campoDinamicoUno | objectKeyValue}}
                                </td>
                                <td>
                                    {{ historial.campoDinamicoDos | objectKeyValue}}
                                </td>
                                <td>
                                    {{ historial.campoDinamicoTres | objectKeyValue}}
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    } -->
    
</div>