<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col  d-flex justify-content-center align-items-center">
            <div class="div-historia-clinica">
                <h2>Historia Clinica</h2>
                <table>
                    <thead>
                        <th>
                            Altura (cm)
                        </th>
                        <th>
                            Peso (kg)
                        </th>
                        <th>
                            Presion
                        </th>
                        <th>
                            Temperatura
                        </th>
                        <th>
                            Dato Extra
                        </th>
                        <th>
                            Dato Extra
                        </th>
                        <th>
                            Dato Extra
                        </th>
                    </thead>
                    <tbody>
                        @for (historial of paciente.usuario.historialClinico; track $index) {
                            <tr>
                                <td>
                                    {{ historial.altura }}
                                </td>
                                <td>
                                    {{ historial.peso }}
                                </td>
                                <td>
                                    {{ historial.presion }}
                                </td>
                                <td>
                                    {{ historial.temperatura }}
                                </td>
                                <td>
                                    {{ historial.campoDinamicoUno | objectKeyValue}}
                                </td>
                                <td>
                                    {{ historial.campoDinamicoDos | objectKeyValue}}
                                </td>
                                <td>
                                    {{ historial.campoDinamicoTres | objectKeyValue}}
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

