
<!--ó  é  ú  á í-->
@if(mostrarNavBar){
    <nav>
        <div class="d-flex img-title" (click)="GoTo('Inicio')">
            <img src="../../../assets/imperiologdor.png" alt="">
            <h1 class="h1 d-flex align-items-center" (click)="GoToSection('queres-asc')">Clínica Imperio</h1>
            
        </div>
    </nav>
}@else {
    @if(CheckUserLog()){
        <nav>
            <div class="d-flex img-title" (click)="GoTo('Inicio')">
                <img src="../../../assets/imperiologdor.png" alt="">
                <h1 class="h1 d-flex align-items-center" (click)="GoToSection('queres-asc')">Clínica Imperio</h1>
            </div>
                @if(perfil == 'Administrador'){
                        <ul>
                        <li><button (click)="GoTo('solicitar-turno')">Solicitar Turno</button></li>
                            <li><button (click)="GoTo('usuarios')">Usuarios</button></li>
                            <li><button (click)="GoToSection('planes')">Planes</button></li>
                            <li><button (click)="GoToSection('galeria')">Galeria</button></li>
                            <li><button id="btn-mi-imperio" mat-button [matMenuTriggerFor]="menu">Cuenta</button></li>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="CerrarSesion()">Cerrar Sesion</button>
                                <button mat-menu-item aria-readonly="true" *ngIf="perfil" (click)="GoTo('mi-perfil')">Mi Perfil</button>
                            </mat-menu>
                        </ul>
                }@else if(perfil == 'Especialista'){
                    <ul>
                        <li><button (click)="GoTo('turnos-especialista')">Mis turnos</button></li>
                        <li><button (click)="GoToSection('planes')">Planes</button></li>
                        <li><button (click)="GoToSection('galeria')">Galeria</button></li>
                        <li><button id="btn-mi-imperio" mat-button [matMenuTriggerFor]="menu">Cuenta</button></li>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="CerrarSesion()">Cerrar Sesion</button>
                            <button mat-menu-item  *ngIf="perfil" (click)="GoTo('mi-perfil')">Mi Perfil</button>
                        </mat-menu>
                    </ul>
                }@else if(perfil == 'Paciente'){
                    <ul>
                        <li><button (click)="GoTo('solicitar-turno')">Solicitar Turno</button></li>
                        <li><button (click)="GoTo('turnos-paciente')">Mis Turnos</button></li>
                        <li><button (click)="GoToSection('planes')">Planes</button></li>
                        <li><button (click)="GoToSection('galeria')">Galeria</button></li>
                        <li><button id="btn-mi-imperio" mat-button [matMenuTriggerFor]="menu">Cuenta</button></li>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="CerrarSesion()">Cerrar Sesion</button>
                            <button mat-menu-item aria-readonly="true" *ngIf="perfil" (click)="GoTo('mi-perfil')">Mi Perfil</button>
                        </mat-menu>
                    </ul>
                }@else if(perfil == ''){
                    <ul>
                        <li><button (click)="GoTo('registro')">Quiero ser parte</button></li>
                        <li><button (click)="GoToSection('planes')">Planes</button></li>
                        <li><button (click)="GoToSection('galeria')">Galeria</button></li>
                        <li><button id="btn-mi-imperio" (click)="GoTo('login')">Iniciar Sesión</button></li>
                    </ul>
                }
        </nav>
    }@else {
        <nav>
            <div class="d-flex img-title" (click)="GoTo('Inicio')">
                <img src="../../../assets/imperiologdor.png" alt="">
                <h1 class="h1 d-flex align-items-center" (click)="GoToSection('queres-asc')">Clínica Imperio</h1>
                
            </div>
            <ul>
                <li><button (click)="GoTo('registro')">Quiero ser parte</button></li>
                <li><button (click)="GoToSection('planes')">Planes</button></li>
                <li><button (click)="GoToSection('galeria')">Galeria</button></li>
                <li><button id="btn-mi-imperio" (click)="GoTo('login')">Iniciar Sesión</button></li>
            </ul>
        </nav>
    }
}

